<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">
   <xacro:include filename="robot_core.xacro" />
   <xacro:include filename="inertial_macros.xacro" />
   <xacro:include filename="gazebo_control.xacro" />
   <xacro:include filename="gripper_tr.xacro" />
   <!-- <xacro:include filename="lidar.xacro" /> -->
   <!--xacro:drive_controller/-->
    
   <ros2_control name="gripper_robot_gazebo_system" type="system">
      <hardware>
         <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>
      <xacro:gripper1_tr/>
      <xacro:gripper2_tr/>
      <xacro:gripper3_tr/>
      <xacro:gripper4_tr/>
      <xacro:leftbackwheel_tr/>
      <xacro:rightbackwheel_tr/>
   </ros2_control>
   <xacro:robot_controller/>
</robot>